pkgbase = freeciv-experimental-git
	pkgdesc = A multiuser clone of the famous Microprose game of Civilization, experimental AI modules (git version).
	pkgver = 3.0.92.1.096887da13
	pkgrel = 1
	url = http://www.freeciv.org/
	arch = x86_64
	license = GPL
	makedepends = python
	makedepends = git
	makedepends = autoconf
	makedepends = automake
	makedepends = make
	makedepends = gcc
	depends = qt5-base
	depends = gtk3
	depends = sqlite
	depends = curl
	depends = libtool
	depends = icu
	depends = hicolor-icon-theme
	depends = sdl2_mixer
	depends = sdl2_image
	depends = sdl2_ttf
	depends = sdl2_gfx
	depends = libpulse
	depends = gettext
	provides = freeciv
	conflicts = freeciv
	backup = etc/freeciv/database.lua
	source = freeciv-experimental-git::git+https://github.com/freeciv/freeciv.git
	sha256sums = SKIP

pkgname = freeciv-experimental-git

