pkgbase = freeciv-experimental-git
	pkgdesc = A multiuser clone of the famous Microprose game of Civilization, experimental AI modules (git version).
	pkgver = 3.2.92.7.fbf34300c6
	pkgrel = 1
	url = http://www.freeciv.org/
	arch = x86_64
	license = GPL
	makedepends = python
	makedepends = git
	depends = qt6-base
	depends = gtk4
	depends = sqlite
	depends = curl
	depends = libtool
	depends = icu
	depends = hicolor-icon-theme
	depends = sdl2
	depends = sdl2_mixer
	depends = sdl2_image
	depends = sdl2_ttf
	depends = sdl2_gfx
	depends = freetype2
	depends = libpulse
	depends = gettext
	depends = xz
	depends = zlib
	depends = zstd
	depends = lua
	depends = bzip2
	depends = pango
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	provides = freeciv
	conflicts = freeciv
	backup = etc/freeciv/database.lua
	source = freeciv-experimental-git::git+https://github.com/freeciv/freeciv.git
	sha256sums = SKIP

pkgname = freeciv-experimental-git
